<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jessie_stam.jessiestam_pset6_desktop">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity"
            android:label="TBR Jar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.EmailPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.FindBooksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.BooksFoundActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.BookDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lists.TbrJarList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lists.FavoritesList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lists.NowReadingList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lists.FinishedList"
            android:screenOrientation="portrait"/>

    </application>

</manifest>